@model ExpenseTracker.Models.Category

@{
    ViewData["Title"] = "Create Category";
}

<h1>Create Category</h1>

<form asp-action="Create" method="post">
    <partial name="_CategoryForm" model="Model" />
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
